
.container-chat{
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    width: 25%;
    background: rgba(31, 31, 31, 0.2); 
}

pre {
    height: 500px;
    overflow: scroll;
}

pre::-webkit-scrollbar {
    width: 12px;
}

pre::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
}

pre::-webkit-scrollbar-track {
    background-color: transparent;
}

pre {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent; 
    scrollbar-width: thin;
}

input{
    display: block; 
    width: 80%; 
    margin-bottom: 10px; 
    padding: 10px;
    border-radius: 30px;
}

.enviar{
    width: 80%; 
    height: 30px;
}